.container {
    display: grid;
    grid-template-columns: 1fr 7fr; /* 사이드바와 메인 컨텐츠의 비율 조정 */
}

.sidebar {
    background-color: #f0f0f0;
    padding: 35px 20px 20px 10px;
    text-align: left;
}

.sidebar .menu {
    padding-bottom: 10px;
}

.sidebar ul {
    padding-left: 0px;
}


.content {
    background-color: #ffffff;
    padding: 20px;
}