.chip-clicked, .chip-unclicked {
    border: 1px solid transparent;
    border-radius: 20px; /* 원하는 정도로 조절 가능 */
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.chip-unclicked:hover, .chip-clicked:hover {
    filter: brightness(90%);
}

.chip-group {
    padding-bottom: 8px;
}

.chip-clicked {
    background-color : navy;
    color : skyblue;
}

.chip-unclicked {
    background-color : whitesmoke;
}

.basic-button {
    background-color: #1a73e8;
    color: white;
    padding: 7px 11px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

.basic-button-reverse {
    background-color: white;
    color: #1a73e8;
    padding: 7px 11px;
    border: 1px solid #1a73e8;
    border-radius: 5px;
    margin-right: 5px;
}

.basic-button-reverse2 {
    background-color: white;
    color: #1a73e8;
    padding: 7px 11px;
    border: 1px solid #1a73e8;
    border-radius: 5px;
    margin-left: auto;
}


.basic-button:hover, .basic-button-reverse:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.basic-button-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg_rel {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_btn {
    width: 302px;
    height: 36.6px;
    padding: 0px;
    margin: 0px;
    background-color: #1a73e8;
    border: 0px;
    cursor: pointer;
}

.login_btn:hover {
    filter: brightness(90%);
}