.attachmentDiv {
    border: 1px dashed gray;
    padding: 13px 10px 10px 10px;
    margin : 8px 8px 8px 8px;
    cursor: pointer;
    font-family: 'maruBuri';
    color: gray;
    background-color: white;
    text-align: center;
}

.attachmentDiv:hover {
    color: black;
    border: 1px dashed black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}