.search {
    position: relative;
    width: 350px;
    height: 29px;
}

.basic-sb {
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px rgba(156, 142, 142, 0.2);

    width: 100%;
    height: 100%;

    margin-left: 5px;
}

.circle {
    border-radius: 20px;
}

.sb-icon {
    position: absolute;
    height: 75%;
    top: 10px;
    left: 100%;
}

.sb-icon-v2 {
    position: absolute;
    height: 75%;
    top: 10px;
    left: 100%;
}

.basic-dp input {
    width: 200px;
    height: 30px;
    padding-left: 5px;
}

.input_login {
    display: block;
    width: 300px;
    height: 35px;
    padding: 0px;
    border: 0.8px solid grey;
}

.label_b {
    color: gray;
    font-size: 13px;
}

.input_cal {
    width: 200px;
    height: 30px;
    margin-right: 10px;
}