.search {
    position: relative;
    width: 300px;
    height: 29px;
}

.basic-sb {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px rgba(156, 142, 142, 0.2);

    width: 100%;
    height: 100%;

    margin-left: 5px;
}

.sb-icon {
   position: absolute;
   height: 75%;
   top: 10px;
   left: 100%;
}

.basic-sb:focus {}