.basic-sb {
    border-radius: 20px;
    border: 1px solid #ccc; 
    padding: 5px 10px; 
    box-shadow: 2px 2px 5px rgba(156, 142, 142, 0.2);
    
    height: 29px;
    width: 300px;
    
    margin-left: 5px;
}

.basic-sb:focus {

}