
.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: black 1px solid;
    padding: 16px;
    margin-bottom: 1px;
}

.list-item-align-right {
    padding-left: auto;
}