
.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border: black 1px solid;
    padding: 16px;
    margin-bottom: 1px;
}

.list-item-selected {
    display: flex;
    justify-content: space-between;
    background-color: slateblue;
    border: black 1px solid;
    padding: 16px;
    margin-bottom: 1px;
}


.list-item:hover {
    filter: brightness(0.9);
}

.list-item-align-right {
    padding-left: auto;
}

.list-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.member-list {
    list-style-type: none;
    width: max-content;
    padding: 3px;
}

.member-list .item {
    font-size: 14px;
    /* justify-content: space-between; */
    background-color: whitesmoke;
    border: black 1px solid;
    padding: 12px;
    margin-bottom: 1px;
}

.member-list .item:hover {
    filter: brightness(90%);
}


.member-list .item-none {
    font-size: 14px;
    color: gray;
    /* justify-content: space-between; */
    padding: 12px;
    margin-bottom: 1px;
}

:root {
    --default-color: black;
    --active-color: grey;
}

.tree-li span {
    border-bottom: 1px solid white;
    font-size: 14px;
}

.tree-li span:hover {
    border-bottom: 1px solid black;
}