.vacation_table {
    border-collapse: collapse;
    color: black;
}

.vacation_table td {
    padding: 8px;
    /* 내부 여백 설정 */
}

.vacation_table thead tr {
    color: white;
    background-color: navy;
}


.vacation_table tbody tr {
    background-color: azure;
}

.vacation_table tbody tr:hover {
    filter: brightness(0.9);
}


/* 결재 문서 내용 */
.cd-table {
    border-collapse: collapse;
}

.cd-table th, td {
    border: 1px solid black
}

.aph_table_ct {
    display: grid;
    justify-content: end;
}

.aph_table {
    max-width: 375px;
    border-collapse: collapse; /* 셀 간의 간격 없애고 테두리 결합 */ 
    font-size: 13px;
    text-align: center;
}

.aph_table td {
    width: 75px;
}

.aph_table .aph_tr_col {
    font-weight: bold;
}

.aph_table .aph_tr_mn {
    height: 50px;
}

.aph_table .aph_tr_sub {
    color: grey;
}

.ct_table {
    border-collapse: collapse;
}


.ct_table .ct_thh {
    width: 700px;
    background-color: #E2E2E2;
    border: 1px solid black
}


.ct_table .ct_tbh {
    width: 200px;
    background-color: #E2E2E2;
    border: 1px solid black
}

.ct_table .ct_tbd {
    width: 500px;
    border: 1px solid black
}

.ct_table .ct_tbh2 {
    width: 150px;
    background-color: #E2E2E2;
    border: 1px solid black
}

.ct_table .ct_tbd2 {
    width: 200px;
    border: 1px solid black
}