.login_msg_gr {
    text-align: center;
    margin-top: 25px;
}

.login_msg {
    font-size: 12px;
    color: grey;
    margin: 0px;
}

.lgn_err_msg {
    font-size: 12px;
    color: red;
    margin: 0px;
}

.titlt_b {
    text-align: center;
    font-size: 22px;
    margin: 0px;
}

.titleTicket {
    margin-top: 5px;

    text-align: left;
    font-size: 22px;
    font-family: 'MaruBuri';
}

.basicTitle {
    font-size: 22px;
    margin: 0px;
}

.titlt_left {
    text-align: left;
}

.basicDesc {
    margin : 0px;
    font-size: 12px;
    color: gray;
    font-family: 'MaruBuri';
}